# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "**" ]
    tags: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:

  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        go-version: ["1.24.x"]
        goarch: ["amd64"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
    
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      
      - name: Make Dir
        run: mkdir build
      
      - name: Build
        run: go build -o ./build -v -x ./cmd/loop_agent

      - name: Upload build folder
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ runner.os }}-${{ github.sha }}
          path: build/**
          if-no-files-found: error
          retention-days: 14

  release:
    name: Create Release and upload Linux/Windows assets
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write

    steps:
      - name: Download all packages
        uses: actions/download-artifact@v4
        with:
          pattern: build-*
          path: dist
          merge-multiple: true

      - name: Publish GitHub Release (upload both)
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.tar.gz
            dist/*.zip
          generate_release_notes: true
